.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

*.egg-info/
.eggs/
dist/
build/
*.egg

.ipynb_checkpoints

.vscode/
.idea/

*.log
*.log.*
*.sqlite3
*.db
coverage.xml
.coverage


docker-data/
postgres_storage_data/
postgres_analysis_data/
storage_files/
analysis_images/

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini